@import 'VisualizerTools';

.imageRotation {
    align-content: center;
    display: flex;
    justify-content: center;
    max-width: 80%;
    &.content {
        display: inline-block;
    }
}

.image {
    object-fit: contain;
    border: 2px solid #f2f2f2;
    max-width: 80vw;
    max-height: 80vh;

    min-height: 50vh;
    min-width: 50vw;
    background: #555;
}

.rotateButtons {
    position: absolute;
    top:0;
    left:0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.confirmButtons {
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;

    display: flex;
    justify-content: space-around;
    padding: 20px;
}