
.share {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.shareName {
  display: flex;
  flex-direction: column;
}

.shareTitle {
  font-size: 25px;
}

.shareSubTitle {
  font-size: 20px;
}

.preview {
  height: 30vh;
  object-fit: cover;
  width: 100%;
}