.tiledGridSelector {
  position: absolute;
  z-index: 10;
  top:30px;

  display: flex;
  flex-direction: column;

  background: white;
  user-select: none;
}

.tiledGridSelectorClose {
  position: absolute;
  z-index: 10;

  top:-15px;
  left:-15px;

  width: 30px;
  height: 30px;
}

.tiledGridSelectorElement {
  display: flex;
  flex-direction: row;

  border: 1px solid #f0f0f0;
  justify-content: space-between;
  width: 200px;
  align-items: center;
  padding: 5px;
  cursor: pointer;

  color: #555555;

  &:hover {
    background-color: #1f1f1f;
    color: #ffffff;
  }
}

.tiledGridSelectorElement_Selected {
  border: 2px solid #1f1f1f;
}

.tiledGridSelectorElementText {

}

.tiledGridSelectorElementImage {
  height: 60px;
}