.visualizerTools {
  position: absolute;
  top:20px;
  right:20px;
  z-index: 1;

  display: flex;
  flex-direction: column;
}

.visualizerToolsButtons {
  display: flex;
  flex-direction: column;
}

.toolButton {
  margin-bottom: 10px;
}

.rotateToolIcon {
  width: 30px !important;
  height: 30px !important;
  font-size: 30px !important;
}

.moveToolIcon {
  width: 28px !important;
  height: 28px !important;
  font-size: 28px !important;
}

.patternToolIcon {
  width: 28px !important;
  height: 28px !important;
  font-size: 28px !important;
}
