.horizontalListing {
  background-color: #efefef;
  padding-top: 10px;
  overflow-x: scroll;
  width:100%;
  display: flex;
}

.horizontalListingContent {
  flex: 0 0 auto;
  height: 100%;
}

.horizontalListingItem {
  position: relative;
  display: inline-block;
  width: 100px;
  padding: 3px;
  &_selected {
    border: 1px solid cyan;
  }
}

.horizontalListingItemSelected {
  @extend .horizontalListingItem;
  border: 1px solid #555555;
}

.horizontalListingDetails {
  display: flex;
  flex-direction: column;
}

.horizontalListingImage {
  object-fit: cover;
}

.horizontalListingInfo {
  font-size: 14px;
  text-align: center;
}