
.productInfo {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.preview {
  height: 30vh;
  object-fit: cover;
  width: 100%;
}

.specs {
  padding: 20px;
}

.field {
  font-size: 20px;
}

.fieldName {
  font-weight: 600;
}
