
.productInfo {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-y: scroll;
}

.productName {
  display: flex;
  flex-direction: column;
}

.productTitle {
  font-size: 25px;
}

.productSubTitle {
  font-size: 20px;
}

.productCode {
  font-size: 20px;
}

.productContent {
  font-family: Avenir, sans-serif;
  font-size: 14px;
  white-space: pre-wrap;
}

.preview {
  height: 30vh;
  object-fit: cover;
  width: 100%;
}

.specs {
  padding: 12px;
}

.field {

}

.fieldName {
  font-weight: 600;
}

.callToAction {
  margin-top: 20px;
}

@media (orientation: portrait) {
  .callToAction {
    margin-top: 10px;
  }
}