
.verticalListing {

}

.verticalListingContent {

}

.verticalListingItem {
  display: flex;
  flex-direction: column;
}

.verticalListingDetails {
  display: flex;
}

.verticalListingSwatch {

}

.verticalListingInfo {

}

.verticalListingTitle {

}

.verticalListingDescription {

}