
.swatchListing {
  height: 100%;
  overflow-y: scroll;
  user-select: none;
  color:#555555;
  font-weight: 500;
  -ms-overflow-style: none;
}

.swatchListingContent {

}

.swatchListingItem {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #f2f2f2;
  cursor: pointer;
}

.swatchListingDetails {
  display: flex;
  width: 100%;

  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #f2f2f2;
  cursor: pointer;
}

.swatchListingImageContainer {
  position: relative;
}

.subSwatchListingContainer {
  height: 0;
  transition: height;
}

.subSwatchListingContainerSelected {
  height: 100px;
}

.swatchListingImage {
  border: 1px solid #cfcfcf;
  height: 100px;
  width: 180px;
  flex-grow: 0;
  flex-shrink: 0;
  object-fit: cover; font-family: 'object-fit: cover';
}

.swatchListingInfo {
  padding: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.swatchListingTitle {
  font-size: 100%;
}

.swatchListingDescription {

}

.swatchListingNumColors {

}

.swatchListing::-webkit-scrollbar {
  display: none;
}
